
<h1>@ViewBag.Id</h1>
<div class="col-md-6">
    <h3>Müşteri Bilgileri</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            Adı :
        </dt>
        <dd class="col-sm-8">
            name
        </dd>
        <dt class="col-sm-4">
            Soyadı :
        </dt>
        <dd class="col-sm-8">
            surname
        </dd>
        <dt class="col-sm-4">
            Telefon No :
        </dt>
        <dd class="col-sm-8">
            numb
        </dd>
        <dt class="col-sm-4">
            İl :
        </dt>
        <dd class="col-sm-8">
            city
        </dd>
        <dt class="col-sm-4">
            İlçe :
        </dt>
        <dd class="col-sm-8">
            district
        </dd>
        <dt class="col-sm-4">
            Adres :
        </dt>
        <dd class="col-sm-8">
            adress
        </dd>
        <dt class="col-sm-4">
            Posta Kodu :
        </dt>
        <dd class="col-sm-8">
            code
        </dd>
        <dt class="col-sm-4">
            Sipariş Tarihi :
        </dt>
        <dd class="col-sm-8">
            Date
        </dd>
    </dl>
</div>